/* Root styles */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* Cell states. */
    --cell-hover: hsla(0, 0%, 0%, 0.1);
    --cell-selected: hsla(0, 0%, 0%, 0.2);
    --cell-source: hsla(0, 0%, 0%, 0.2);
    --cell-target: hsla(0, 0%, 0%, 0.2);
}

body {
    position: absolute;
    width: 100%; height: 100%;
    margin: 0;
    overflow: hidden;

    font-family: sans-serif;
}

body:not(.modal) {
    -webkit-user-select: none;
}

/* Special elements */

.MathJax_SVG {
    outline: none;
}

.error-banner {
    position: fixed;
    width: 100%;
    left: 0; top: 0;
    z-index: 200;
    padding: 8px 0;

    background: hsl(0, 50%, 50%);
    color: white;

    text-align: center;

    user-select: none;

    transition: transform 0.2s;
}

.error-banner.hidden {
    transform: translateY(-100%);
}

.close {
    width: 28px; height: 28px;
    margin-left: 20px;

    background: transparent;
    border: none;
    border-radius: 100%;
    outline: none;

    text-align: center;
    color: white;
    font-size: 20px;
}

.close:hover {
    background: hsla(0, 0%, 100%, 0.2);
}

.close:active {
    background: hsla(0, 0%, 100%, 0.4);
}

.close::before {
    content: "×";
}

.logo {
    position: fixed;
    left: 16px; top: 16px;
    width: 100px;

    opacity: 0.5;
}

.logo:hover {
    opacity: 1;
}

/* The grid of cells */

.canvas {
    position: absolute;
    width: 100%; height: 100%;

    background-color: white;
}

.pan .canvas {
    cursor: grab;
}

.pan .canvas:active {
    cursor: grabbing;
}

/* Grid interaction */

.grid.hidden {
    display: none;
}

.insertion-point {
    display: block;
    position: absolute;
    margin-left: 1px; margin-top: 1px;

    background: hsla(0, 0%, 0%, 0);

    text-align: center;
    font: 16px sans-serif;
    color: hsla(0, 0%, 0%, 0.4);
}

.insertion-point.revealed {
    background: hsla(0, 0%, 0%, 0.1);
}

.insertion-point::before {
    content: "Add vertex";
    visibility: hidden;
}

.insertion-point.active::before {
    content: "Add edge";
}

.insertion-point.revealed::before {
    visibility: visible;
}

/* Vertices */

.vertex {
    position: absolute;
}

.ui.default .vertex {
    cursor: move;
}

.vertex .content {
    position: absolute;
    transform: translate(-50%, -50%);

    border-radius: 2px;

    text-align: center;
}

.ui.default .vertex .content {
    cursor: default;
}

/* This is so explicit because of the CSS specificity rules. */
.ui.default .vertex:not(.selected):not(.source):not(.target) .content:hover {
    background: var(--cell-hover);
}

.vertex.source .content {
    background: var(--cell-source);
}

.vertex.target .content {
    background: var(--cell-target);
}

.vertex.selected .content {
    background: var(--cell-selected);
}

.label {
    display: block;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-family: inherit;
    font-size: 26px;
    white-space: nowrap;

    pointer-events: none;
    user-select: none;

    transition: opacity 0.2s;
}

.label.buffer {
    visibility: hidden;
}

.label.error {
    font: 22px monospace;
    color: hsl(0, 100%, 40%);
}

/* Edges */

.edge {
    position: absolute;
}

.edge.reconnecting {
    pointer-events: none;
}

.edge > svg {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
}

/* The overlay edge drawn while connecting cells. */
.overlay {
    pointer-events: none;
}

/* This is so explicit because of the CSS specificity rules. */
.ui.default .edge:hover:not(.selected):not(.source):not(.target) svg.background {
    stroke: var(--cell-hover);
}

.edge.source svg.background {
    stroke: var(--cell-source);
}

.edge.target svg.background {
    stroke: var(--cell-target);
}

.edge.selected svg.background {
    stroke: var(--cell-selected);
}

.edge .label {
    font-size: 20px;
    text-align: right;
}

.edge .handle {
    display: none;
    position: absolute;
    width: 24px; height: 24px;
    top: 50%;
    transform: translateY(-50%);

    background: white;
    border-radius: 100%;
}

.edge .handle.source {
    left: 0;
}

.edge .handle.target {
    right: 0;
}

.ui.default .edge:hover .handle, .ui.default .edge.selected .handle {
    display: block;
}

.edge .handle:hover {
    border: hsl(200, 100%, 40%) 2px solid;
}

/* The side panel */

.panel {
    position: fixed;
    width: 20%; height: 100%;
    right: 0;
    z-index: 100;

    background: hsl(0, 0%, 20%);

    font: 14px sans-serif;
    color: hsl(0, 0%, 80%);
}

.panel label, .panel button {
    user-select: none;
}

.panel .local {
    position: absolute;
    width: 100%; height: calc(100% - 114px);
    padding: 24px 16px;
    overflow: auto;

    border-bottom: hsl(0, 0%, 36%) solid 1px;
}

.panel input[type="text"] {
    padding: 2px 4px;

    background: hsl(0, 0%, 16%);
    border: hsl(0, 0%, 28%) solid 1px;
    border-radius: 2px;
    outline: none;

    font-size: inherit;
    font-family: monospace;
    color: hsl(0, 0%, 96%);
}

.panel input[type="text"]:hover {
    background: hsl(0, 0%, 18%);
}

.panel input[type="text"]:focus {
    background: hsl(0, 0%, 96%);
    border-color: hsl(200, 100%, 40%);

    color: hsl(0, 0%, 16%);
}

.panel input[type="text"]:disabled {
    background: hsl(0, 0%, 20%);
    border-color: hsl(0, 0%, 28%);
}

.panel input[type="text"].flash {
    animation: shadow-flash 0.2s;
}

@keyframes shadow-flash {
    from {
        box-shadow: 0 0 0 4px hsl(200, 100%, 40%);
    }

    to {
        box-shadow: 0 0 0 hsl(200, 100%, 40%);
    }
}

.panel .options {
    margin: 8px 0;

    text-align: center;
}

.panel input[type="radio"] {
    -webkit-appearance: none;
    display: inline-block;
    width: 48px; height: 48px;

    background-color: hsl(0, 0%, 16%);
    background-repeat: no-repeat;
    background-position: center;
    /* We use stacked backgrounds for the background image, */
    /* to allow us to change the image directly via CSS. */
    background-size: 0%, auto;
    border: hsl(0, 0%, 28%) solid 1px;
    border-radius: 2px;
    outline: none;
}

.panel .vertical {
    display: inline-block;
    width: calc(100% - (20% + 4px) * 2);
    vertical-align: top;
}

.panel .vertical + .vertical:not(.centre) {
    margin-left: 4px;
}

.panel .short {
    width: 20%;
}

.panel .centre {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.panel .vertical input[type="radio"] {
    position: relative;
    display: block;
    width: 100%; height: 32px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0; margin-top: -1px;

    border-radius: 0;
}

.panel .vertical input[type="radio"]:first-child {
    margin-top: 0;

    border-radius: 2px 2px 0 0;
}

.panel .vertical input[type="radio"]:last-child {
    border-radius: 0 0 2px 2px;
}

.panel .vertical input[type="radio"].short {
    display: inline-block;
    width: 50%;
    left: 0;
    transform: none;
}

.panel .vertical input[type="radio"].short + input[type="radio"].short {
    border-left-color: transparent;
}

.panel .vertical input[type="radio"].short:nth-last-child(2) {
    border-radius: 0 0 0 2px;
}

.panel .vertical input[type="radio"].short:last-child {
    border-radius: 0 0 2px 0;
}

.panel input[type="radio"]:hover {
    background-color: hsl(0, 0%, 18%);
}

.panel input[type="radio"]:checked {
    background-color: hsl(0, 0%, 96%);
    background-size: auto, 0%;
    border-color: hsl(200, 100%, 40%);
}

.panel input[type="radio"]:disabled {
    background-size: 0%, auto;
    background-color: hsl(0, 0%, 20%);
    border-color: hsl(0, 0%, 28%);
}

.panel input[type="range"] {
    -webkit-appearance: none;
    vertical-align: middle;
    width: 60%;

    background: transparent;
    outline: none;

    font: inherit;
    color: inherit;
}

.panel input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; height: 20px;
    margin-top: calc(-4px);

    background: hsl(0, 0%, 16%);
    border: hsl(0, 0%, 28%) solid 1px;
    border-radius: 20px;
}

.panel input[type="range"]::after {
    content: attr(value);
    display: inline-block;
    width: 20px;

    text-align: right;
}

.panel input[type="range"]::-moz-range-thumb {
    width: 20px; height: 20px;
    margin-top: calc(-4px);

    background: hsl(0, 0%, 16%);
    border: hsl(0, 0%, 28%) solid 1px;
    border-radius: 20px;
}

.panel input[type="range"]:hover::-webkit-slider-thumb {
    background: hsl(0, 0%, 18%);
}

.panel input[type="range"]:hover::-moz-range-thumb {
    background: hsl(0, 0%, 18%);
}

.panel input[type="range"]::-webkit-slider-runnable-track {
    width: 100%; height: 14px;

    background: hsl(0, 0%, 16%);
    border: hsl(0, 0%, 28%) solid 1px;
    border-radius: 14px;
}

.panel input[type="range"]::-moz-range-track {
    width: 100%; height: 14px;

    background: hsl(0, 0%, 16%);
    border: hsl(0, 0%, 28%) solid 1px;
    border-radius: 14px;
}

.panel input[type="range"]:active::-webkit-slider-thumb {
    background: hsl(0, 0%, 14%);
}

.panel input[type="range"]:active::-moz-range-thumb {
    background: hsl(0, 0%, 14%);
}

.panel input[type="range"]:disabled::after {
    visibility: hidden;
}

.panel input[type="range"]:disabled::-webkit-slider-thumb,
.panel input[type="range"]:disabled::-webkit-slider-runnable-track {
    background: hsl(0, 0%, 20%);
    border-color: hsl(0, 0%, 28%);
}

.panel input[type="range"]:disabled::-moz-range-thumb,
.panel input[type="range"]:disabled::-moz-range-track {
    background: hsl(0, 0%, 20%);
    border-color: hsl(0, 0%, 28%);
}

.panel .bottom {
    position: absolute;
    width: 100%;
    left: 0; bottom: 0;
    height: calc(114px - 8px);
    padding: 0 8px;
    overflow: auto;
}

.panel button {
    position: relative;
    display: block;
    width: 100%; height: 30px;
    margin: 8px 0;

    background: hsl(0, 0%, 20%);
    border: hsl(0, 0%, 36%) solid 1px;
    border-radius: 2px;
    outline: none;

    font: inherit;
    color: hsl(0, 0%, 96%);
}

.panel button:hover {
    background: hsl(0, 0%, 24%);
}

.panel button:active {
    background: hsl(0, 0%, 16%);
}

.panel button:disabled {
    background: transparent;
    border-color: hsl(0, 0%, 28%);

    color: hsl(0, 0%, 28%);
}

.panel .success-indicator {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    width: 18px; height: 18px;

    background: hsl(0, 0%, 36%);
    border-radius: 100%;

    color: hsl(0, 0%, 16%);
    text-align: center;
    line-height: 18px;

    transform: scale(0);

    transition: transform 0.2s;
}

.panel .success-indicator.unknown,
.panel .success-indicator.success,
.panel .success-indicator.failure {
    transform: scale(1);
}

.panel .success-indicator.success::before {
    content: "✓";
}

.panel .success-indicator.failure::before {
    content: "✕";
}

/* The toolbar */

.toolbar {
    position: fixed;
    height: 48px;
    left: 40%; bottom: 16px;
    transform: translateX(-50%);
    z-index: 100;

    background: hsl(0, 0%, 16%);
    border-radius: 2px;
    overflow: hidden;

    color: hsl(0, 0%, 96%);

    transition: opacity 0.1s;
}

.ui:not(.default) .toolbar {
    opacity: 0.2;

    pointer-events: none;
}

.toolbar .action {
    position: relative;
    vertical-align: middle;
    width: 48px; height: 48px;

    background: transparent;
    border: none;
    outline: none;

    font: inherit;
    text-align: center;
    font-size: 24px;
    color: inherit;
    white-space: nowrap;

    cursor: default;
    user-select: none;
}

.toolbar .action:hover {
    background: hsl(0, 0%, 28%);
}

.toolbar .action:active {
    background: hsl(200, 100%, 40%);
}

.toolbar .action:disabled {
    background: transparent;

    color: hsl(0, 0%, 64%);
}

.toolbar .action:disabled .name, .toolbar .action:disabled .shortcut {
    color: hsl(0, 0%, 64%);
}

.toolbar .action .flip {
    display: inline-block;
    transform: scaleX(-1);
}

.toolbar .action.flash {
    animation: background-flash 0.6s ease-in;
}

@keyframes background-flash {
    from {
        background: hsl(200, 100%, 40%);
    }
}

.toolbar .action .name, .toolbar .action .shortcut {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: 8px;
    line-height: 8px;
    color: hsl(0, 0%, 80%);
}

.toolbar .action .name {
    top: 6px;
}

.toolbar .action .shortcut {
    bottom: 4px;
}

/* Modal elements */

.export {
    position: fixed;
    width: 80%; height: 100%;
    left: 0;
    z-index: 100;
    padding: 20px 24px;

    background: hsla(0, 0%, 10%, 0.8);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    tab-size: 4;
    -moz-tab-size: 4;

    font: 16px monospace;
    color: white;
}
